
            html, body {
                background-color: #fff;
                color: #636b6f;
                font-family: 'Nunito', sans-serif;
                font-weight: 200;
                height: 100vh;
                margin: 0;
                overflow-x: hidden;
            }

            footer {
                position:relative;
                left: 0;
                bottom: 0;
                height:auto;
                width: 100%;
              }

              .bg-orange {
                background: #f9482b!important;
            }

            .full-height {
                height: auto;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 84px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .footer-content {
                border-bottom: 1px solid rgba(0,0,0,.1);
                border-top: 1px solid rgba(0,0,0,.1);
                font-size: 14px;
                padding: 40px 0;
                color: #333;
                background: #f5f5f5;
            }

            .copy-info {
                display: block;
                font-size: 11px;
                margin-top: 10px;
                padding-left: 0;
            }

            .text-center {
                text-align: center!important;
            }

            .container {
                max-width: 1200px;
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;
                margin-right: auto;
                margin-left: auto;
                margin-top: auto;
            }

            .container-extra {
                max-width: 1200px;
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;
                margin-right: auto;
                margin-left: auto;
                margin-top: 40px;
            }

            /* .container, .container-lg, .container-md, .container-sm {
                max-width: 960px;
            }
 */
            .row {
                display: flex;
                flex-wrap: wrap;
                margin-right: -15px;
                margin-left: -15px;
            }

            .mobile-app-content {
                margin-bottom: 30px;
            }

            .app-icon {
                display: block;
                max-width: 100%;
            }

            .hide-visually {
                border: 0;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }

            span {
                font-family: Roboto,Helvetica,Arial,sans-serif;
            }


            a {
                color: #16a085;
                outline: 0;
                cursor: pointer;
                -webkit-transition: all .2s linear 0s,letter-spacing 0s linear 0s;
                -moz-transition: all .2s linear 0s,letter-spacing 0s linear 0s;
                -o-transition: all .2s linear 0s,letter-spacing 0s linear 0s;
                transition: all .2s linear 0s,letter-spacing 0s linear 0s;
            }

            img {
                
                max-width: 100%;
                vertical-align: middle;
                border-style: none;
            }

            .footer-title {
                color: #000;
                font-family: roboto condensed,Helvetica,Arial,sans-serif;
                font-size: 15px;
                font-weight: 700;
                margin-bottom: 10px;
                margin-top: 0;
                text-transform: uppercase;
            }


            ul {
                margin-top: 0;
                margin-bottom: 1rem;
            }

            #st-1.st-animated {
                -moz-transition: o 0.2s ease-in, p 0.2s ease-in, a 0.2s ease-in, c 0.2s ease-in, i 0.2s ease-in, t 0.2s ease-in, y 0.2s ease-in;
                -ms-transition: o 0.2s ease-in, p 0.2s ease-in, a 0.2s ease-in, c 0.2s ease-in, i 0.2s ease-in, t 0.2s ease-in, y 0.2s ease-in;
                -o-transition: o 0.2s ease-in, p 0.2s ease-in, a 0.2s ease-in, c 0.2s ease-in, i 0.2s ease-in, t 0.2s ease-in, y 0.2s ease-in;
                -webkit-transition: o 0.2s ease-in, p 0.2s ease-in, a 0.2s ease-in, c 0.2s ease-in, i 0.2s ease-in, t 0.2s ease-in, y 0.2s ease-in;
                transition: o 0.2s ease-in, p 0.2s ease-in, a 0.2s ease-in, c 0.2s ease-in, i 0.2s ease-in, t 0.2s ease-in, y 0.2s ease-in;
            }
        
            #st-1 .st-btn[data-network='facebook'] {
                background-color: #4267B2;
            }

            #st-1 .st-btn[data-network='twitter'] {
                background-color: #55acee;
            }

            #st-1 .st-btn[data-network='instagram'] {
                background-color: #bc2a8d;
            }

            #st-1 .st-btn[data-network='youtube'] {
                background-color: #FF0000;
            }

            #st-1 .st-btn[data-network='pinterest'] {
                background-color: #CB2027;
            }

            #st-1 .st-btn:last-child {
                margin-right: 0;
            }

            #st-1 .st-btn {
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                -moz-transition: opacity 0.2s ease-in, top 0.2s ease-in;
                -ms-transition: opacity 0.2s ease-in, top 0.2s ease-in;
                -o-transition: opacity 0.2s ease-in, top 0.2s ease-in;
                -webkit-transition: opacity 0.2s ease-in, top 0.2s ease-in;
                transition: opacity 0.2s ease-in, top 0.2s ease-in;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                border: none;
                cursor: pointer;
                display: inline-block;
                height: 32px;
                line-height: 32px;
                margin-right: 8px;
                padding: 0 8px;
                position: relative;
                text-align: center;
                top: 0;
                vertical-align: top;
                white-space: nowrap;
            }

            #st-1 {
                font-family: "Helvetica Neue", Verdana, Helvetica, Arial, sans-serif;
                direction: ltr;
                display: block;
                opacity: 1;
                text-align: left;
                z-index: 94034;
            }
                

            .clearfix::after {
                display: block;
                content: "";
                clear: both;
            }

            .text-white {
                color: #fff!important;
            }

            .navbar .container, .navbar .container-fluid, .navbar .container-lg, .navbar .container-md, .navbar .container-sm, .navbar .container-xl {
                display:flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;       
                background-color: #e9e9e9;  
                position: fixed;     
                z-index: 1;                
                top: 0;
            }           

            .navbar{
                top: 0;
                border-color: #f9482b;
                background-color: #e9e9e9; 
                opacity: 100;
            }

            .img-responsive {
                display: block;
                max-width: 100%;
                height: auto;
                float: left;
            }

            .navbar-site.navbar {
                -webkit-transition: all .25s ease-out 0s;
                -moz-transition: all .25s ease-out 0s;
                -o-transition: all .25s ease-out 0s;
                transition: all .25s ease-out 0s;
                margin-top: 0;
                z-index: 100;
            }

            .nav {
                display: flex;
                flex-wrap: wrap;
                padding-left: 0;
                margin-bottom: 0;
                list-style: none;
            }

            ul {
                display: block;
                list-style-type: disc;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                padding-inline-start: 40px;
            }

            address, dl, ol, ul {
                margin-bottom: 1rem;
            }

            dl, ol, ul {
                margin-top: 0;
            }

            [role=button], a, area, button, input, label, select, summary, textarea {
                touch-action: manipulation;
            }

            .text-dark {
                color: #343a40!important;
            }

            .nav-link {
                display: block;
                padding: .5rem 1rem;
            }

            .navbar .nav-link {
                padding: .2rem!important;
            }

            .align-items-center {
                align-items: center!important;
            }

            .svg-invert {
                filter: invert(1);
            }

            a:not([href]):not([tabindex]) {
                text-decoration: none;
            }

            .fa, .fas {
                font-weight: 900;
            }

            .fa, .far, .fas {
                font-family: "font awesome 5 free";
            }

            .fa, .fab, .fal, .far, .fas {
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                line-height: 1;
            }

            .far {
                font-weight: 400;
            }

            .fa-lg {
                font-size: 1.33333em;
                line-height: .75em;
                vertical-align: -.0667em;
            }


            .fa-ellipsis-h:before {
                content: "\f141";
            }

            li {
                display: list-item;
                text-align: -webkit-match-parent;
            }

            .left-auto {
                left: auto!important;
            }

            .dropdown-menu {
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 1000;
                display: none;
                float: left;
                min-width: 10rem;
                padding: .5rem 0;
                margin: .125rem 0 0;
                font-size: .85rem;
                color: #292b2c;
                text-align: left;
                list-style: none;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid rgba(0,0,0,.15);
            }

            .dropdown-item {
                display: block;
                width: 100%;
                clear: both;
                font-weight: 400;
                color: #292b2c;
                text-align: inherit;
                white-space: nowrap;
                background-color: transparent;
                border: 0;
            }

            .float-right, .pull-right {
                float: right;
            }

            .shadow-sm {
                box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
            }

            .navbar-expand-md .navbar-collapse {
                display: flex!important;
                flex-basis: auto;
            }

            .bg-white {
                background-color: #fff!important;
            }
            .navbar-collapse {
                flex-basis: 100%;
                flex-grow: 1;
                align-items: center;
            }

            .navbar .navbar-nav:not(.navbar-notifications):not(.navbar-profile) {
                flex-direction: row;
            }
            .navbar-site.navbar .navbar-nav.navbar-left {
                margin-top: 0;
            }
            
            .navbar-expand-md .navbar-nav {
                flex-direction: row;
            }
            
            .navbar-nav {
                float: left;
                flex-direction: row;
            }

            .navbar.navbar-light .navbar-nav>li, .navbar.navbar-site .navbar-nav>li {
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .navbar-light .navbar-toggler {
                color: rgba(0,0,0,.5);
                border-color: rgba(0,0,0,.1);
            }
            [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
                cursor: pointer;
            }

            .navbar-expand-md .navbar-toggler {
                display: none;
            }

            .navbar-toggler {
                padding: .25rem .75rem;
                font-size: 1.125rem;
                line-height: 1;
                background-color: transparent;
                border: 1px solid transparent;
                border-radius: .25rem;
            }

            .mh-30 {
                max-height: 30px!important;
            }
            .mb-2, .my-2 {
                margin-bottom: .5rem!important;
            }
            .mt-2, .my-2 {
                margin-top: .5rem!important;
            }

            .d-md-block {
                display: block!important;
            }

            .text-orange {
                color: rgb(255, 81, 0);
            }

            .container1{
                margin-top: 80px;
            }

            .swiper-container {               
                margin: 0 auto;
                position: relative;
                list-style: none;
                padding: 0;
                z-index: 1;
                margin-top: 50px;
            }

            .swiper-container1 {               
                margin: 0 auto;
                position:relative;
                list-style: none;
                padding: 0;
                z-index: 1;
                margin-top: 50px;
            }

            .swiper-wrapper {
                position: relative;
                width: 100%;
                height: 100%;
                z-index: 1;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-transition-property: -webkit-transform;
                transition-property: -webkit-transform;
                -o-transition-property: transform;
                transition-property: transform;
                transition-property: transform, -webkit-transform;
                -webkit-box-sizing: content-box;
                box-sizing: content-box;
            }

            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
          
                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
              }

        
            .swiper-slide {
                background-position: center;
                background-repeat: no-repeat;
                margin-top: 0!important;
                padding-top: 0!important;
            }

            .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
                bottom: 10px;
                left: 0;
                width: 100%;
            }

            .swiper-pagination {
                position: absolute;
                text-align: center;
                -webkit-transition: 300ms opacity;
                -o-transition: 300ms opacity;
                transition: 300ms opacity;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
                z-index: 10;
            }

            .swiper-pagination1 {
                position: absolute;
                text-align: center;
                -webkit-transition: 300ms opacity;
                -o-transition: 300ms opacity;
                transition: 300ms opacity;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
                z-index: 10;
            }

            .swiper-pagination2 {
                position: absolute;
                text-align: center;
                -webkit-transition: 300ms opacity;
                -o-transition: 300ms opacity;
                transition: 300ms opacity;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
                z-index: 10;
            }

            .swiper-pagination3 {
                position: absolute;
                text-align: center;
                -webkit-transition: 300ms opacity;
                -o-transition: 300ms opacity;
                transition: 300ms opacity;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
                z-index: 10;
            }


            .align-items-center {
                align-items: center!important;
            }

            .text-capitalize {
                text-transform: capitalize!important;
            }

            p {
                padding: 0;
            }

            .font-14 {
                font-size: 14px!important;
            }

            .ellipsis-2 {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box!important;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }

            .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
                margin: 0 4px;
            }

            .swiper-pagination-clickable .swiper-pagination-bullet {
                cursor: pointer;
            }

            .swiper-pagination-bullet {
                width: 8px;
                height: 8px;
                display: inline-block;
                border-radius: 100%;
                background: #000;
                opacity: 0.2;
            }

            .swiper-pagination-bullet {
                border: 1px solid #f9482b!important;
                background: #fff!important;
                opacity: 1!important;
            }

            [role=button] {
                cursor: pointer;
            }

             .swiper-container .swiper-notification {
                position: absolute;
                left: 0;
                top: 0;
                pointer-events: none;
                opacity: 0;
                z-index: -1000;
            }

            .text-left {
                text-align: left;
            }

            .section-header .title {
                font-size: 2.0rem;
                line-height: 1.1;
                padding-bottom: 0;
                margin: 0 auto;
                text-align: center;
                text-transform: uppercase;
                font-family: Roboto,Helvetica,Arial,sans-serif;
                font-weight: 700;
            }

            .col-md {
                flex-basis: 0;
                flex-grow: 1;
                max-width: 100%;
            }

            .section-header {
                padding: 40px 0 35px;
            }

            .col-auto {
                flex: 0 0 auto;
                width: auto;
                max-width: 100%;
            }

            .border1 {
                border: 1px solid #dee2e6!important;
                height: 248px;
            }

            .border{
                border: 1px solid #dee2e6!important;
                
            }


            .rounded-lg {
                border-radius: .3rem!important;
        
            }

            .col-sm-12 {
                position: relative;
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;
                height:248px;
                width: 480px;
            }

            .text-truncate {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .text-muted {
                color: #6c757d!important;               
            }

            .text-muted1 {
                color: #6c757d!important;
                text-align: left;
            }

            .custom-border-line-light {
                border-top: 1px solid #e9e9e9;
                line-height: .1em;
            }

            .custom-border-title {
                background: #fff;
                padding: 0 10px;
                line-height: 0!important;
            }
            
            .btn {
                display: inline-block;
                font-weight: 400;
                line-height: 1.5;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
                border: 1px solid transparent;
                padding: 8px 12px;
                font-size: .85rem;
                border-radius: .2rem;
                -webkit-transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
            }

            .box-custom-post .post-img-container {
                height: 108px;
                overflow: hidden;
            }
            
            .d-flex {
                display: -ms-flexbox!important;
                display: flex!important;
            }

            .cursor-pointer {
                cursor: pointer;
            }

            .justify-content-center {
                justify-content: center!important;
            }

            .box-custom-post .post-img-container .post-img {
                max-width: 100%;
            }
            .box-custom-post {
                min-height: 313px;
            }

            .custom-dropdown-post {
                position: absolute;
                top: 0;
                right: 0;
            }
            .dropdown, .dropup {
                position: relative;
            }

            .col {
                flex-basis: 0;
                flex-grow: 1;
                max-width: 100%;
            }

            .custom-dropdown-post>div>a {
                background: #f8f9fa;
                opacity: .8;
            }

            a:not([href]):not([tabindex]) {
                text-decoration: none;
            }
            .btn-outline-secondary {
                color: #ccc;
                background-image: none;
                background-color: transparent;
                border-color: #ccc;
            }

            .dropdown-menu-post {
                min-width: 8.5rem!important;
                right: 0!important;
                left: auto!important;
                transform: translate3d(0,36px,0)!important;
            }

            .dropdown-menu {
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 1000;
                display: none;
                float: left;
                min-width: 10rem;
                padding: .5rem 0;
                margin: .125rem 0 0;
                font-size: .85rem;
                color: #292b2c;
                text-align: left;
                list-style: none;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid rgba(0,0,0,.15);
            }

            .custom-arrow-up {
                position: absolute;
                top: -15px;
                font-size: 25px;
            }

            .dropdown-item {
                display: block;
                width: 100%;
                clear: both;
                font-weight: 400;
                color: #292b2c;
                text-align: inherit;
                white-space: nowrap;
                background-color: transparent;
                border: 0;
            }

            a:not([href]):not([tabindex]) {
                text-decoration: none;
            }

            .post-user-icon {
                width: 36px;
                height: 36px;
            }

            .rounded-circle {
                border-radius: 50%;
            }

            .text-truncate {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;               
            }

            .text-truncate1 {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-align: left;
            }

            .h-45 {
                height: 45px!important;
            }

            .ellipsis-2 {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box!important;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }

            .font-size-12 {
                font-size: 12px;
            }

            .btn-link, .btn-link:active, .btn-link:focus {
                border-color: transparent;
            }

            .btn-link, .btn-link.active, .btn-link:active, .btn-link:disabled {
                background-color: transparent;
            }

            .btn-link {
                font-weight: 400;
                color: #16a085;
                border-radius: 0;
            }

            .mh-20 {
                max-height: 20px!important;
            }

            .box-custom-deal .deal-img-container {
                height: 160px;
                overflow: hidden;
            }

            .pb-2, .py-2 {
                padding-bottom: .5rem!important;
            }

            .hot-badge {
                position: absolute;
                right: 5%;
                top: 0;
            }

            .box-custom-deal {
                min-height: 369px;
                min-width: 340px;
            }

            .pl-2, .px-2 {
                padding-left: .5rem!important;
            }

            .pr-2, .px-2 {
                padding-right: .5rem!important;
            }

            .box-custom-deal .deal-img-container .deal-img {
                max-height: 160px;
                max-width: 160px;
            }

            .mb-auto, .my-auto {
                margin-bottom: auto!important;
            }

            a:not([href]):not([tabindex]) {
                text-decoration: none;
            }

            .h5 {
                margin-bottom: 10px;
                padding-bottom: 0;
                padding-top: 5px;
            }

            .btn-link, .btn-link:active, .btn-link:focus {
                border-color: transparent;
            }

            .btn-link, .btn-link.active, .btn-link:active, .btn-link:disabled {
                background-color: transparent;
            }

            .btn-link {
                font-weight: 400;
                color: #16a085;
                border-radius: 0;
            }

            .btn-cashback {
                line-height: 0;
                padding-top: 4px!important;
                padding-bottom: 4px!important;
                padding-left: 8.5px!important;
                padding-right: 8.5px!important;
            }

            .bg-secondary {
                background-color: #6c757d!important;
            }

            .mt-20 {
                margin-top: 20px;
            }

            .text-grey {
                color: #a6aeb0!important;
            }

            .box-custom-store {
                height: 110px;
                width: 320px;;
                overflow: hidden;
            }

            .popular-store-badge {
                position: absolute;
                left: -1px;
                top: -1px;
            }


            .feature-store-badge {
                position: absolute;
                top: -1px;
            }

            .h-60 {
                height: 60px!important;
            }

            .h-26 {
                height: 26px!important;
            }

            .img-responsive {
                display: block;
                max-width: 100%;
                height: auto;
            }

            .h-6 {
                font-size: 1rem;
            }

            .text-orange {
                color: #f9482b!important;
            }
            
        
